body {
    background: #38B6FF !important
}

form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #38B6FF
}

.profile-button {
    background: #38B6FF !important;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #38B6FF !important
}

.profile-button:focus {
    background: #38B6FF !important;
    box-shadow: none
}

.profile-button:active {
    background: #38B6FF !important;
    box-shadow: none
}

.back:hover {
    color: #38B6FF !important;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #38B6FF !important;
    color: #fff;
    cursor: pointer;
    border: solid 1px #38B6FF !important
}