<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>ATMOS Bank</title>
    <link th:href="@{/css/loginForm.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <div class="title"><span>Şifrəni dəyişin</span></div>
            <form th:action="@{/user/newPassword}" method="post">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Fin" required="" name="fin">
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="text" placeholder="Şifrə" required="" name="password">
                </div>
                <div class="row button">
                    <input type="submit" value="Şifrəni dəyiş">
                </div>
            </form>
        </div>
    </div>
</body>
</html>