<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>ATMOS Bank</title>
    <link th:href="@{/css/loginForm.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <div class="title"><span>Daxil olun</span></div>
            <form action="#">
                <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Fin" required>
                </div>
                <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Şifrə" required>
                </div>
                <div class="pass"><a href="#">Şifrəni unutmusunuz?</a></div>
                <div class="row button">
                <input type="submit" value="Daxil ol">
                </div>
                <div class="signup-link">Hesabınız yoxdur? <a href="#">Qeydiyyatdan keçin</a></div>
            </form>
        </div>
    </div>
</body>
</html>